<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    {% include header.html %}
    {% include about.html %}
    {% include experience.html %}
    {% include skills.html %}
    {% include projects.html %}
    {% include contact.html %}
    {{ content }}
    {% include footer.html %}
    <script src="//cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="{{ site.baseurl }}/js/scripts.min.js"></script>
  </body>
</html>
