<div id="education">
    {% assign education = site[page.lang] | where:"section", "education" | first %}
    <h2 class="heading">{{ education.title }}</h2>
    {% assign education_items = site[page.lang] | where:"section", "education-items" %}
    {% for item in education_items %}
    <div class="education-block">
        <h3>{{ item.title }}</h3>
        <span class="education-date">Sept 2016 - Sept 2017</span>
        <h4>{{ item.subtitle }}</h4>
        <p>{{ item.text }}</p>
    </div>
    {% endfor %}
    <!-- End .education-block -->

    <!-- <div class="education-block">
        <h3>University of Ottawa</h3>
        <span class="education-date">Sept 2016 - Sept 2017</span>
        <h4>Bachelor of Science in Computer Science</h4>
        <ul>
            <li>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </li>
            <li>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </li>
            <li>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </li>
        </ul>
    </div> -->
    <!-- End .education-block -->
</div>
